body{
    background-image:url('../images/snape.jpg');
    z-index: 0;
    color: white;
}

#counters{
    margin-top: 100px;
    width: 30%;
}

.potions{
    width: 128px;
    height: 128px;
}


.crystal-image {
    width: 100px;
    height: 100px;
    margin: 20px;
}
